---
import Image from 'astro/components/Image.astro';
import hero_screens from '../assets/theme-images/hero-screen.png';

const { settings, title, content, phoneNumber } = Astro.props;
---

<section
  class='bs-container py-6 flex flex-col lg:flex-row items-center justify-between'
>
  <!-- Content -->
  <div class='flex flex-col gap-6 lg:max-w-lg w-full py-16 pt-42 lg:py-16'>
    <!-- Title -->
    <h1
      class='bs-h1 bg-gradient-to-r from-blue-500 via-cyan-400 to-green-400 bg-clip-text text-transparent'
      set:html={title}
    />

    <!-- Content -->
    <div
      class='bs-body-text xl:text-xl flex flex-col gap-4 [&_p]:last:text-bs-foreground-dark'
      set:html={content}
    />

    <!-- CTA -->
    <button
      id='whatsapp-cta-btn'
      type='button'
      class='bs-btn bs-btn-cta self-start bs-mt-sm'
      data-phone-number={phoneNumber}
    >
      Agenda una demo
    </button>
  </div>

  <!-- Image (solo visible en desktop) -->
  <figure class='hidden lg:flex place-content-center lg:mt-0'>
    <Image
      src={hero_screens}
      format='avif'
      quality='high'
      alt='Screens showing phone, tablet and desktop views of our website'
      loading='eager'
      class='w-[90%] lg:w-[70%] animate-float max-h-[400px] md:max-h-[300px] lg:max-h-[800px] object-contain'
    />
  </figure>
</section>

<script>
  import { sendWhasappMessage } from '../utils/functions/whatasapp';
  const message = '¡Hola! Me gustaría agendar una demo.';
  window.addEventListener('DOMContentLoaded', () => {
    const btn = document.getElementById('whatsapp-cta-btn');
    if (btn) {
      btn.addEventListener('click', () => {
        sendWhasappMessage(message);
      });
    }
  });
</script>
